<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ngClassifieds</title>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" type="text/css">
  <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="all" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body ng-app="ngClassifieds">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>ngClassifieds</span>
      <md-button>
        <md-icon class="mdi mdi-plus-circle"></md-icon>
        New Classified
      </md-button>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="row" layout-wrap ng-controller="ClassifiedsCtrl">
    <md-card flex="30" ng-repeat="classified in classifieds">
      <div class="classified">
        <img ng-src="img/{{ classified.image }}" class="md-card-image" alt="angularjs book">
      </div>
      <md-card-content>
        <div class="classified-info" ng-show="!showContact">
          <h2 class="md-title">{{ classified.title }}</h2>
          <h2>{{ classified.posted | date}}</h2>
          <h3>{{ classified.price | currency }}</h3>
          <p>{{ classified.content }}</p>
        </div>
        <div class="classified-contact" ng-show="showContact">
          <p><md-icon class="mdi mdi-account"></md-icon>{{ classified.contact.name }}</p>
          <p><md-icon class="mdi mdi-phone"></md-icon>{{ classified.contact.phone }}</p>
          <p><md-icon class="mdi mdi-email"></md-icon>{{ classified.contact.email }}</p>
        </div>
        <div layout="row">
          <md-button ng-click="showContact = true" ng-show="!showContact">Contact</md-button>
          <md-button ng-click="showContact = false" ng-show="showContact">Info</md-button>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center" ng-if="showAdmin">
        <md-button class="md-primary">Edit</md-button>
        <md-button class="md-warn">Delete</md-button>
      </md-card-actions>
    </md-card>
  </md-content>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/classifieds_controller.js"></script>
</body>
</html>
